.selection {
  display: flex;
  gap: 30px;
}
.quartile-dropdown {
  width: 100%;
  max-width: 250px;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
  background-color: white;
  cursor: pointer;
}
.sector-dropdown {
  width: 100%;
  max-width: 250px;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
  background-color: white;
  cursor: pointer;
}

/* Buttons container (Align horizontally) */
.button-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 15px;
}

/* Browse File Button */
.browse-btn {
  background-color: #217346;
  color: white;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.browse-btn:hover {
  background-color: #1a5c38;
}

/* Upload Button */
.upload-btn {
  background-color: #7b61ff;
  color: white;
  padding: 10px 20px;
  font-size: 14px;
  margin: 10px 0px 0px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  height: 38.67px;
  cursor: pointer;
  transition: background 0.3s;
}

.upload-btn:hover {
  background-color: #1a5c38;
}

.upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  margin: auto;
  position: relative;
  top: 15vh;
}

.dropzone {
  width: 100%;
  background: white;
  border: 2px dashed #cccccc;
  border-radius: 8px;
  padding: 30px;
  text-align: center;
  transition: border-color 0.3s ease-in-out;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.dropzone.active {
  border-color: #28a745;
  background: #f0fff0;
}

.excel-icon {
  font-size: 50px;
  color: #217346;
  margin-bottom: 10px;
}

.upload-text {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.drag-text {
  font-size: 14px;
  color: #666;
}

.browse-btn {
  display: inline-block;
  background-color: #217346;
  color: white;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background 0.3s;
}

.browse-btn:hover {
  background-color: #1a5c38;
}

.file-name {
  margin-top: 10px;
  font-size: 14px;
  color: #444;
}

@media (max-width: 768px) {
  .dropzone {
    width: 80%;
  }
}
